.main{
 width:100% ;
 height: 100vh;
 top:0px;
left: 0;
position: fixed;
z-index: 10;
}

.background{
width: 100%;
height:100%;
margin: 0 auto;
position: absolute;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.682);
}

.hiddenDiv{
 position:absolute;
 width: 100%;
 height: 75%;
 bottom: -100%;
 transition: 3s;
 left: 0;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
 background-color: rgb(255, 255, 255);
 padding: 20px;
 border-radius: 20px 20px 0px 0px;
 z-index: 50;

}
.slideIn{
 animation: slideInFromBottom .3s ease-in-out forwards;
}

@keyframes slideInFromBottom {
 from {
   bottom:-100%;
 }
 to {
   bottom: 0;
 }
}
.slideOut{

 animation: slideOutToBottom .3s ease-in-out forwards;
}

@keyframes slideOutToBottom {
 from {
   bottom:0;
 }
 to {
   bottom: -100%;
 }
}
.hiddenDiv figure{
 width: 100%;
 height: fit-content;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: -90px;
}

.hiddenDiv figure img{
 transform: rotate(180deg);
}

 .hiddenDiv section{
 display: flex;
 flex-direction: column;
 margin-block: 20px;
 height: 30%;
 width: 100%;
 text-align: left;
 align-items: flex-start;
 justify-content: center;

}
.hiddenDiv a{
 margin-block: 8px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 width: fit-content;
 height: fit-content;
 gap: 10px;

}
 .hiddenDiv .firstSection{
 width: 100%;
 height: fit-content; 
 padding-bottom: 30px;
 border-bottom: 2px solid #95959533;
}
 .hiddenDiv .lastSection{
 width: 100%;
 height: fit-content;
}
.hiddenDiv button{
 width: 100%;
 height: fit-content;
 padding: 20px 40px;
 background-color: green;
 color: white;
 border-radius: 15px;
}
